.theme-button {
  font-size: 0.8em;
  margin: 2px;
  width: 128px;
  line-height: 3em;
  text-align: center;
  text-transform: uppercase;
}

.theme-blackboard {
  background-color: #000000;
  color: #fffdea;
  border: 4px solid #757575;
}

.theme-gazette {
  background-color: #f2f7ff;
  border: 4px solid #5c5c5c;
  color: #000000;
}

.theme-espresso {
  background-color: #21211f;
  color: #d1b59a;
  border: 4px solid #8c8c8c;
}

.theme-cab {
  background-color: #feed01;
  border: 4px solid #424242;
  color: #1f1f1f;
}

.theme-cloud {
  background-color: #f1f2f0;
  color: #37bbe4;
  border: 4px solid #058bb3;
}

.theme-lime {
  background-color: #263238;
  border: 4px solid #aabbc3;
  color: #aeea00;
}

.theme-passion {
  background-color: #f5f5f5;
  border: 4px solid #8e24aa;
  color: #12005e;
}

.theme-blues {
  background-color: #2b2c56;
  border: 4px solid #6677eb;
  color: #eff1fc;
}

.theme-chalk {
  background-color: #263238;
  border: 4px solid #ff869a;
  color: #aabbc3;
}

.theme-tron {
  background-color: #242b33;
  border: 4px solid #6ee2ff;
  color: #effbff;
}

.theme-paper {
  background-color: #f8f6f1;
  border: 4px solid #f5e1a4;
  color: #4c432e;
}

.theme-initial {
  background-color: initial;
  border: 4px solid #000000;
  color: initial;
}